<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!--
    LISTADO DE LOS PROYECTOS
-->
<div class="container profile-page">
    <!--
        FORMULARIO PARA EL FILTRADO DE BUSQUEDA POR FECHA DE FIN DE PROYECTO
    -->
    <form (ngSubmit)="filtrado()" novalidate #f="ngForm">
        <div class="form-group">
            <label class="mr-2" for="fechaInicio">Fecha fin de</label>
            <input class="mr-2" type="date" id="fechaFinDe" name="fechaFinDe" [(ngModel)]="fechaFinDe">
            <label class="mr-2" for="fechaInicio">hasta</label>
            <input class="mr-2" type="date" id="fechaFinHasta" name="fechaFinHasta" [(ngModel)]="fechaFinHasta">
        <button class="btn btn-outline-success" [disabled]="!f.valid">Buscar</button>
        </div>
    </form>
    <!--
        FIN DEL FILTRADO DE BUSQUEDA
    -->
    <!--
        LISTADO DE LOS PROYECTOS
    -->
    <div class="row">
        <div *ngFor="let proyecto of proyectos" class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0">{{proyecto.nombre}}</h4>
                            <span class="job_post">ID: {{proyecto.id}}</span>
                            <p>
                                <span><strong>Fecha Inicio - Fin:</strong> {{proyecto.fechaInicio | date }} - {{proyecto.fechaFin | date }}</span>
                            </p>
                            <div>
                                <button style="margin-right: 15px;" class="btn btn-outline-primary btn-round btn-simple" routerLink="/homework/{{proyecto.id}}"><i class="fas fa-stream"></i></button>
                                <button style="margin-right: 15px;" class="btn btn-outline-primary btn-round" routerLink="/edit/{{proyecto.id}}"><i class="fas fa-marker"></i></button>
                                <button style="margin-right: 15px;" class="btn btn-outline-danger btn-round" (click)="borrar(proyecto.id)"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>                
                    </div>
                </div>                    
            </div>
        </div>
	</div>
    <!--
        FIN DEL LISTADO
    -->
</div>